# Configurations
title:            Labs Library
longtitle:        Webex CC
email:            wxcclabs@cisco.com
description: >
  Lab Guide Library


version:          1.0
gitbook_version:  3.2.3

url:              'https://webexcc.github.io'
baseurl:          ''

rss:              RSS

# bootstrap: use the remote theme for the site itself
remote_theme: sighingnow/jekyll-gitbook

toc:
  enabled: true
  h_min: 1
  h_max: 1

# customize the link favicon in header, will be {{site.baseurl}}/{{site.favicon_path}}
favicon_path:     assets/gitbook/images/favicon.ico

# markdown render engine.
markdown:         kramdown
kramdown:
  auto_ids:               true
  input:                  GFM
  math_engine:            mathjax
  smart_quotes:           lsquo,rsquo,ldquo,rdquo
  toc_levels:             1..6
  syntax_highlighter:     rouge
  syntax_highlighter_opts:
    guess_lang:           true

syntax_highlighter_style: colorful

markdown_ext:     markdown,mkdown,mkdn,mkd,md

# Permalinks
permalink:        /:categories/:year-:month-:day-:title:output_ext

exclude:
  - _drafts

collections:
  pages:
    output: true
    permalink: /:collection/:path/

page_width: 1024px

destination:      ./_site
incremental:      false
regenerate:       true

google_analytics: G-X0KSF40MEY

plugins:
  - jekyll-feed
  - jekyll-readme-index
  - jemoji
