{% if include.type.size > 0 and include.title.size > 0 and include.body.size > 0 %}
    {% assign types = "note, abstract, info, tip, success, question, warning, failure, danger, bug, example, quote, reading, working, education, research, teaching, extracurricular, presentation, certificate" | split: ", " %}
    {% if types contains include.type %}
<div class="admonition {{ include.type }} rounded">
    <p class="admonition-title">{{ include.title }}</p>
    
    <p>{{ include.body | markdownify }}</p>

    {% if include.refs %}
        {% assign refs = include.refs | split: ";;;" %}
        <ul>
            {% for ref in refs %}
                {% assign pair = ref | split: "||" %}
                <li><a href="{{ pair[0] }}">{{ pair[1] }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
    {% endif %}
{% endif %}