<style>
img {
position: relative;
}
content {
position: absolute;
}
.bgimg {
  background-image: url('https://github.com/jzstraley/jzstraley.github.io/blob/master/assets/snowy-exit.jpg?raw=true');
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<div class="page-wrapper" tabindex="-1" role="main">
    <img src="https://github.com/jzstraley/jzstraley.github.io/blob/master/assets/snowy-exit.jpg?raw=true" style="width:100%" alt="Avatar">
    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">
                    {% if page.title %}
                        <h1 id="{{ page.id }}">{{ page.title | escape }}</h1>
                    {% else %}
                        <h1 id="{{ page.id }}">{{ site.title | escape }}</h1>
                    {% endif %}

                    {{ content }}
                </section>
            </div>

            {%- include search.html -%}
        </div>
    </div>
</div>

{% include mathjax.html %}