<div class="book-summary">
  <!-- <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div> -->
  <nav role="navigation">
    <ul class="summary">
      {% if page.url == "/index.html" or page.url == "/" %}
      <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
        {% else %}
      </li>

      <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
        {% endif %}
        <a href="{{site.baseurl}}"> Yang Kuk Hyun's Blog </a>
      </li>

      <li class="divider"></li>

      {% assign reversed_posts = site.posts | reverse %} {% for post in
      reversed_posts %} {% if page.url == post.url %}
      <li
        class="chapter active"
        data-level="1.2"
        data-path="{{site.baseurl}}{{post.url}}"
      >
        {% else %}
      </li>

      <li
        class="chapter"
        data-level="1.1"
        data-path="{{site.baseurl}}{{post.url}}"
      >
        {% endif %}
        <a href="{{site.baseurl}}{{post.url}}">
          [{{ post.category | escape }}] {{ post.title | escape }}
        </a>
      </li>
      {% endfor %}

      <li class="divider"></li>
    </ul>
  </nav>
</div>
