---
---

$primary-color: #fc0;
$primary-bgcolor: rgba(55.59%, 44.41%, 0%, .4);
$admonitions:
    //class (type), icon filename, icon/border color, title bg color
    ('tip', 'idea.svg', '#52DE91', '#276945')
    ('success', 'check-circle-solid.svg', '#52DE91', '#276945')

    ('note', 'pen-solid.svg', '#B8D3C4', '#3A443F')
    ('abstract', 'align-left-solid.svg', '#B8D3C4', '#3A443F')
    ('quote', 'quote-right-solid.svg', '#B8D3C4', '#3A443F')
    ('example', 'list-ol-solid.svg', '#B8D3C4', '#3A443F')

    ('info', 'info-circle-solid.svg', '#00b0ff', '#293d52')
    ('question', 'question-circle-solid.svg', '#00b8d4', '#293e4e')

    ('warning', 'exclamation-triangle-solid.svg', '#DE5E52', '#692C27')
    ('failure', 'times-circle-solid.svg', '#DE5E52', '#692C27')
    ('danger', 'bolt-solid.svg', '#DE5E52', '#692C27')
    ('bug', 'bug-solid.svg', '#DE5E52', '#692C27')

    ('reading', 'reading-solid.svg', '#ffd700', '#a28834')
;
.admonition {
	margin: 1.5625em 0;
	overflow: hidden;
	color: #232323;
	page-break-inside: avoid;
	background-color: #212121;
	border-left: .3rem solid $primary-color;
	border-radius: .7rem;
}
.admonition p {
    padding: 0 1rem;
}
.admonition .admonition-title {
    color: #ffffff;
    background-color: $primary-bgcolor;
    font-weight: 700;
    line-height: 3rem;
}
.admonition-title::before {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    content: '';
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $primary-color;
    vertical-align: text-bottom;
}
@each $name, $icon, $icon-color, $title-color in $admonitions {
    @if $icon-color {
        .admonition.#{$name} {
            border-left-color: #{$icon-color};
            background-color: color-mix(in srgb, #{$icon-color} 20%, white);
        }
    }
    @else {
        .admonition.#{$name} {
            background-color: color-mix(in srgb, $primary-bgcolor 80%, white);
        }
    }

    @if $title-color {
        .admonition.#{$name} .admonition-title {
            background-color: #{$title-color};
        }
    }

    .admonition.#{$name} .admonition-title::before {
        -webkit-mask: url("/assets/images/icons/#{$icon}") no-repeat top left;
        mask: url("/assets/images/icons/#{$icon}") no-repeat top left;
        @if $icon-color {
            background-color: #{$icon-color};
        }
    }
}