/* form.css */
@import url("https://fonts.googleapis.com/css?family=Nunito");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Nunito", sans-serif;
}

h3,
label {
  text-transform: uppercase;
}

.alert {
  width: 80vw;
  margin: 2rem auto;
  background-color: #d4edda;
  color: #155724;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  display: none;
}

#save-later-form {
  position: relative;
  width: 80vw;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 3px;
}

label {
  margin: 1rem 0 0;
  display: block;
}

input {
  font-size: 0.875em;
  width: 100%;
  height: 40px;
  padding: 0px 15px 0px 15px;
  background: whitesmoke;
  outline: none;
  color: #000;
  border: none;
  border-radius: 3px;
}

input:hover {
  background: whitesmoke;
  color: black;
}

button[type="submit"] {
  background-color: #349bab;
  width: calc((100% / 2) - 3px);
  display: inline-block;
  color: white;
  font-weight: 600;
  height: 2.8rem;
  border: none;
  font-family: Nunito;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

#save {
  background-color: #30383f;
}

select {
  width: 100%;
  height: 40px;
  background: whitesmoke;
  border: none;
  padding: 0 0 0 0.5rem;
  outline: none;
}

select:focus,
input:focus,
textarea:focus {
  outline: #349bab solid 1px;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  margin: 0 0 1rem 0;
  background: whitesmoke;
  outline: none;
  color: black;
  font-size: 0.875em;
  border: none;
}
/* ========MEDIA QUERIES======== */
@media screen and (min-width: 768px) {
  #save-later-form,
  .alert {
    width: 60vw;
  }
}

@media screen and (min-width: 992px) {
  #save-later-form,
  .alert {
    width: 40vw;
  }
}
