/* .book .book-summary .chapter > .articles { */
.book .book-summary .chapter ul {
	overflow: hidden;
	max-height: 0px;
}

.book .book-summary .chapter li ul {
	overflow: hidden;
	max-height: 0px !important;
}

/* .book .book-summary .chapter.expanded > .articles { */
.book .book-summary .chapter.expanded ul {
	max-height: 9999px;
}

.book .book-summary .chapter.expanded li.expanded ul {
	max-height: 9999px !important;
}

.book .book-summary .exc-trigger {
	position: absolute;
  	left: 12px;
  	top: 12px;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
	padding-left: 30px;
}

.book .book-summary .exc-trigger:before {
  	content: "\f105";
}

.book .book-summary .expanded > a .exc-trigger:before,
.book .book-summary .expanded > span .exc-trigger:before {
	content: "\f107";
}
